<div class="container">
  <div class="right-layout show-section">
    <p><strong>Title:</strong><%= @book.title %></p>
  </div>
  <div class="right-layout show-section">
    <p><strong>Body:</strong><%= @book.body %></p>
  </div>
  <div class="right-layout index-section">
    <p><%= link_to "Edit", edit_book_path(@book.id) %></p>
    <p>|</p>
    <p><%= link_to 'Back', books_path %></p>
  </div>
</div>